
a {
  color: #c0c0c0;
  /* Establece el color del texto del enlace */
  text-decoration: none;
  /* Elimina el subrayado predeterminado */
}

a:visited {
  color: #c0c0c0;
  /* Mantiene el mismo color para los enlaces visitados */
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700");
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-image: url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}




  .label {
    border: 1px solid #000;
  }


* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}


[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}


h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}


h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #000000;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  z-index: 3;
  color: #fff;
  background-color: #616161;
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #000;
  border-color: #fff;
  cursor: default;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pager li>a,
.pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager li>a:hover,
.pager li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next>a,
.pager .next>span {
  float: right;
}

.pager .previous>a,
.pager .previous>span {
  float: left;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
  color: #777777;
  background-color: #fff;
  cursor: not-allowed;
}

a.label:hover,
a.label:focus {
  color: #fff; 
  text-decoration: none;
  cursor: pointer;
}

a.list-group-item,
button.list-group-item {
  color: #555;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #333;
}

a.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:hover,
button.list-group-item:focus {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  background-color: #eeeeee;
  color: #777777;
  cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #777777;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active .list-group-item-heading>small,
.list-group-item.active .list-group-item-heading>.small,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading>small,
.list-group-item.active:hover .list-group-item-heading>.small,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading>small,
.list-group-item.active:focus .list-group-item-heading>.small {
  color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #c7ddef;
}

.list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}

a.list-group-item-success,
button.list-group-item-success {
  color: #3c763d;
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}

a.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:hover,
button.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}

a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active,
button.list-group-item-success.active:hover,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

a.list-group-item-info,
button.list-group-item-info {
  color: #31708f;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:hover,
button.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}

a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active,
button.list-group-item-info.active:hover,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}

.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

a.list-group-item-warning,
button.list-group-item-warning {
  color: #8a6d3b;
}

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}

a.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:hover,
button.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}

a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active,
button.list-group-item-warning.active:hover,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}

.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

a.list-group-item-danger,
button.list-group-item-danger {
  color: #a94442;
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}

a.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:hover,
button.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}

a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active,
button.list-group-item-danger.active:hover,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

p {
  line-height: 1.8;
}


a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  box-shadow: 0 0 0 0;
  outline: none;
  border: 0;
}

.form-control:focus {
  border-color: lightgreen;
  box-shadow: 0 0 0 0;
}

ul {
  list-style-type: none;
}

h2.heading {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

h2.heading span:after {
  position: absolute;
  width: 90%;
  height: 2px;
  top: 108%;
  left: -40px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #979da0;
  font-weight: 400;
}

p.headParagraph {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}


.center {
  text-align: center;
  width: 100%;
  float: left;
  background-color: #fff;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

h6 a {
  color: inherit;
}

h6 a:hover {
  color: #fff;
}

.wrapper-container {
  position: relative;
}


.headline01 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;

}

.paragraph02 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 400;
}

.capitalize01 {
  text-transform: capitalize;
}


.wrapper {
  overflow: hidden;
}


.header-main .header-upper {
  background: black;
}

.header-main .header-upper ul {
  float: right;
}

.header-main .header-upper ul li {
  float: left;
}

.header-main .header-upper ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}

.header-main .header-lower {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  transition: background, -webkit-transform 0.7s ease-in-out;
  transition: background, transform 0.7s ease-in-out;
  padding: 30px 0 20px;
  top: 40px;
  z-index: 9;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


.header-main .menubar {
  position: relative;
  float: left;
  width: 41.6666666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .header-main .menubar {
    float: left;
    width: 66.6666666667%;
  }
}

.header-main nav {
  margin: 0;
  padding: 0;
  float: right;
}

.header-main nav ul li {
  float: none;
}

.header-main nav ul li a {
  color: white;
  text-transform: uppercase;
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: 11px;
  margin: 0;
}

.header-main nav ul li a:after {
  position: absolute;
  height: 1px;
  width: 0;
  background-color: rgb(110, 110, 110);
  content: '';
  left: 50%;
  top: 100%;
}

.header-main .nav-menu {
  display: none;
  margin: 0;
  position: fixed;
  bottom: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 9;
  text-align: center;
  background: rgba(0, 123, 140, 0.2);
  transition: bottom 0.3s ease;
  transition-property: height, bottom;
}

.header-main .nav-menu>ul {
  transition: opacity 0.3s ease;
  transition-delay: 0.3s;
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .header-main .nav-menu {
    height: auto;
  }

  .header-main .nav-menu>ul {
    opacity: 1;
  }
}

.header-main .navbar-nav {
  float: none;
  padding-top: 20vH;
}

.header-main .sticky-menu {
  position: fixed;
  top: 0;
  z-index: 23;
  will-change: top, transform;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


  .header-main .navbar-toggle {
    display: none;
  }

  .header-main .nav-menu {
    margin: 0;
    position: relative;
    width: 100%;
    background: transparent;
    display: block;
  }

  .header-main .nav-menu li {
    float: left;
  }

  .header-main .navbar-nav {
    padding: 0;
  }

  nav ul li a.active {
    background: none;
    color: #c0c0c0;
  }

  nav ul li a.active:after {
    width: 100%;
    left: 0;
  }


  .header-main .header-upper ul li a:hover {
    color: rgb(138, 138, 138);
  }

  .header-main .sub-menu {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .menu-bar li span {
    width: 25%;
    position: absolute;
    height: 1px;
    bottom: 100%;
    opacity: 0;
    background: rgb(110, 110, 110);
    left: 0;
    transition: opacity, bottom 0.4s ease-in-out;
  }

  .menu-bar li span:nth-of-type(2) {
    left: 25%;
    transition-duration: 0.6s;
  }

  .menu-bar li span:nth-of-type(3) {
    left: 50%;
    transition-duration: 0.8s;
  }

  .menu-bar li span:nth-of-type(4) {
    left: 75%;
    transition-duration: 1s;
  }

  .menu-bar li a:hover span {
    opacity: 1;
    bottom: 0;
  }

  .menu-bar li a.active:hover span {
    opacity: 0;
  }

  .menu-bar li:hover>.sub-menu {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }


.footer-type02 {
  position: 0;
  padding: 30px 0;
  background-color: #000;
  background-image: '';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
}

.footer-container ul li {
  font-size: 26px;
  color: white;
  padding: 0 40px;
}

.balance-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.balance-chart {
  flex: 1;
}

.current-balance {
  position: absolute;
  right: 20px;
  top: 20px;
  margin-top: 150px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.wrapper {
  text-align: center;
}

.btn {
  padding: 15px 80px;
  border: 1px solid grey;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #625959;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4;
  transition: 0.4s ease-in-out;
}

.btn-white {
  background: white;
  color: #625959;
  border: 1px solid #625959;
  transition-property: background, border-color, color;
  position: relative;
}

.btn-white:hover,
.btn-white:focus {
  background: #000;
  border-color: #000;
  color: white;
}

.btn-small {
  padding: 10px 20px;
  font-size: 16px;
  color: #625959;
  text-transform: uppercase;
}

.btn-small01 {
  width: 140px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  display: block;
  line-height: 40px;
  border-radius: 5px;
  vertical-align: middle;
  text-transform: uppercase;
  background: white;
  color: #625959;
  border: 1px solid #625959;
  transition-property: background, border-color, color;
}

.btn-small01:hover,
.btn-small01:focus {
  background: #000;
  border-color: #000;
  color: white;
}

.about {
  padding: 70px 0;
  margin-top: 50px;
}

.about-wrap {
  text-align: center;
}

.about .nav-content {
  padding: 54px 0;
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
}

.about .nav-content p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #979da0;
  font-weight: 400;
}

.about .nav-tabs {
  border: none;
}

.about .fade {
  transition: all 0.5s ease-in-out;
}

.about .tab-content>.tab-pane {
  background: white;
}

.about .nav-header ul {
  list-style-type: none;
}

.about .nav-header ul li {
  display: inline-block;
  margin: 0 -2px;
  float: none;
}

.about .nav-header ul li a {
  padding: 20px 50px;
  display: block;
  background: #e7e7e7;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  margin: 0;
  border-radius: 0;
  border: none;
}

.about .nav-header ul li a:hover {
  border: none;
  background: #828588;
  color: white;
}

.about .nav-header ul li.active a {
  background: #828588;
  color: white;
  border: none;
}

.counter-wrap li {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("images/background/counterBg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 15px 0;
  border-right: 2px solid #b81e20;
  text-align: center; 
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 400;
}

.ticketInfo li {
  padding: 5px 40px;
  margin: 5px 0;
}

.t_info li {
  background: transparent !important;
}

.t_info li:nth-of-type(1) {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) {
  .t_info li:nth-of-type(1) {
    float: left;
    width: 16.6666666667%;
  }
}

.t_info li:nth-of-type(2) {
  position: relative;
  float: left;
  width: 75%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .t_info li:nth-of-type(2) {
    float: left;
    width: 58.3333333333%;
  }
}

.t_info li:nth-of-type(2) .headline01 span {
  width: 100%;
  text-align: justify;
  margin-right: 15%;
  display: block;
}

.t_info li:nth-of-type(3) {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 22px;
}

@media (min-width: 768px) {
  .t_info li:nth-of-type(3) {
    float: left;
    width: 25%;
  }
}

.t_info li:nth-of-type(3) a {
  margin: 0 auto;
}

.ticketInner_info {
  width: 100%;
  text-align: justify;
}

.ticketInner_info span:first-of-type {
  border-right: 1px solid white;
  padding-right: 5px;
  margin-right: 5px;
}

.ticketInner_info span:last-of-type {
  display: block;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .t_info li:nth-of-type(2) .headline01 span {
    width: 35%;
    font-size: 30px;
    float: left;
    text-align: justify;
  }

  .ticketInner_info {
    width: 100%;
  }

  .ticketInner_info span {
    margin: 15px 0;
    padding: 0 5px;
    border-right: 1px solid white;
  }

  .ticketInner_info span:last-of-type {
    border: none;
    display: inline-block;
  }

  .ticketInner_info span:first-of-type {
    padding-left: 0;
  }
}

.contact-form {
  margin: 20px 0;
}

.contact-form h6 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: lightgreen;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0;
}

.contact-form .form-group {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .contact-form .form-group {
    float: left;
    width: 50%;
  }
}

.contact-form .form-group .text {
  height: 50px;
  border-radius: 0px;
}

.contact-form .form-group,
.contact-form .form-group1 {
  margin-bottom: 20px;
  padding: 0;
}

.contact-form .form-group::-webkit-input-placeholder,
.contact-form .form-group1::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

.contact-form .form-group1 {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
}

.contact-form .texta {
  height: 150px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.contact-form .form-control:focus {
  border: 1px solid lightgreen;
  box-shadow: 0 0 0 0;
}

.contact-form button.submit {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  outline: none;
  border: 0;
  background: lightgreen;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.item {
  width: 100%;
}

.item img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .item {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .item {
    width: 25%;
  }

  .item.gallery-item-width2 {
    width: 50%;
  }

  .item.gallery-item-width3 {
    width: 75%;
  }
}

.magnificPopupParent a {
  outline: none;
}

@media screen and (min-width: 992px) {
  .magnificPopupParent a {
    position: relative;
    display: block;
  }

  .magnificPopupParent a:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f002';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    padding: 50% 0;
    color: white;
    font-size: 20px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
  }

  .magnificPopupParent a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.contact_icon {
  text-align: center;
  padding: 30px 0;
}

.contact_icon li {
  width: 100%;
  float: left;
  padding: 10px 20px;
}

.contact_icon li i {
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid lightgreen;
  border-radius: 50%;
  color: lightgreen;
  padding: 14px 0;
  float: left;
}

.contact_icon li span {
  float: left;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #979da0;
  font-weight: 400;
}

.map_wrapper {
  padding: 300px 0 0 0;
  width: 100%;
  position: relative;
}

.map_wrapper h2 {
  color: rgba(255, 255, 255, 0.6);
}

.contact_form {
  position: relative;
  padding: 100px 0;
  background: rgba(0, 0, 0, 0.75);
}

#map-section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.formcontact {
  padding: 30px 90px;
}

.formcontact .form-group {
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.formcontact .form-group input {
  height: 60px;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #979da0;
  font-weight: 700;
}

.formcontact .form-group1 {
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

.formcontact .form-group1 textarea {
  height: 150px;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #979da0;
  font-weight: 700;
}

.formcontact button {
  float: right;
}

.parsley-required {
  width: 50%;
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b81e20;
  font-weight: 700;
  text-transform: capitalize;
}

.parsley-errors-list {
  color: #b81e20;
}

@media screen and (min-width: 992px) {
  .contact_icon li {
    width: 25%;
    display: inline-block;
    float: none;
  }

  .formcontact .form-group {
    width: 50%;
  }

  .formcontact .form-group:nth-of-type(odd) {
    padding-right: 10px;
  }

  .formcontact .form-group:nth-of-type(even) {
    padding-left: 10px;
  }
}
